*.pyc
*.pyo
*.txt


C:\Users\menno\Documents\GitHub\A22CERES\A22DSE\Models\DATCOM\Current\PlotDatcom3d_CERES.m
C:\Users\menno\Documents\GitHub\A22CERES\A22DSE\Models\DATCOM\Current\CERES.dat
C:\Users\menno\Documents\GitHub\A22CERES\A22DSE\Models\DATCOM\Current\datcom.out

!A22DSE/Models/STRUC/current/Structural_Model/NASASC20712data_1.txt
!A22DSE/Models/STRUC/current/Structural_Model/NASASC20712data_2.txt
!A22DSE/Parameters/ParametersConv.txt
!constants_en.txt
!default_en.txt

!A22DSE/Models/DATCOM/Current/Airfoiltools.txt

!Airfoiltoolsht.txt
!Airfoiltools.txt

